*~
.project
*.pyc
.DS_Store
build
dist
*.egg
*egg-info
.settings
.pydevproject
.project
.env
activate
src/
etc/*.pid
logs/*
!logs/placeholder
tmp/*
!tmp/placeholder
bin
jusbrasil*min*.js
jusbrasil*min*.css
test.db
*.komodoproject
nbproject/*
.coverage
coverage.xml
cover
tests/__init__.py
tests/acceptance/resources/*
.webassets-cache
report.html
.idea*
pages_urls.json
chromedriver.log